#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  width: 100%;
  height: 100%;
}

/* Auth */

form {
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
  place-items: center;
  text-align: start;
}

form h2 {
  margin-bottom: 0.25rem;
}

form input {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

/* Main */

#main-page {
  display: flex;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 0 1.5rem;
  width: 100%;
}

.navbar ul button {
  margin: 0 0.25rem;
}

.navbar #home:hover {
  cursor: pointer;
}

/* Rooms */

.rooms {
  flex-grow: 1;
}

/* Users-list */

.users-list {
  width: 15rem;
}

.users-list ul {
  list-style: none;
  text-align: left;
}